* {
    transition: all 0.5s;
}

body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}


a  {
    text-decoration: none;
}


/*  --  general  --  */

.wrapper {
    overflow: auto;
}

.card {
    padding: 16px;
    border-radius: 7px;
    background-color: #fff;
    margin: 12px;
    box-shadow: 0px 4px 8px #0003;
}

.card:hover {
    box-shadow: 0px 4px 8px #926a;
}


/* header halaman */

body > header {
    z-index: 10;
    position: sticky;
    top: 0;
    color: #fff;
    padding: 16px;
    background-image: linear-gradient(30deg, #926, #408);
    box-shadow: 0px 6px 7px #0005;
}

hgroup, .header-btn {
    padding: 0;
    margin: 0;
}

hgroup {
    float: left;
}

hgroup h1 {
    display: inline-block;
    font-family: Signika, sans-serif;
}

hgroup h1:hover {
    text-shadow: 0px 0px 12px #fffa;
    cursor: default;
}

/* judul */

section header {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 24px;
}

header h3{
    cursor: default;
    display: inline-block;
    font-family: Quicksand, sans-serif;
    font-weight: 700;
}

header h3:hover {
    color: #408;
    text-shadow: 0px 1px 8px #5198;
}

/*atas*/

.header-btn {
  float: right;
  height: 3rem;
  line-height: 3rem;
}

.header-btn a {
  margin-top: 8px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-btn a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.top-wrapper {
    color: #fff;
    padding: 180px 0 100px 0;
    background-image: url('http://getwallpapers.com/wallpaper/full/7/c/6/765090-most-popular-technology-background-images-1920x1080-hd-for-mobile.jpg');
    background-size: cover;
    text-align: center;
    box-shadow: 0px 6px 7px #0005;
    margin-bottom: 48px;
}

.top-wrapper h1 {
    opacity: 1.0;
    font-family: quicksand, sans-serif ;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper h1 ~ h1 {
    margin-bottom: 3rem;
}

.top-wrapper p {
    opacity: 10;
    line-height: 1.5rem;
    margin-bottom: 3px;
}

.bttn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
} 

.bttn:hover {
  opacity: 1;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.allout {
  background-color: #239b76;
}
/* content */

/* bagian utama*/

.wrapper-anggota {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.anggota {
    box-sizing: border-box;
    max-width: 240px;
}

.container-anggota {
    text-align: center;
    padding: 8px;
    border: 1px solid #4084;
    border-radius: 4px;
    background-color: #4081;
    margin: 14px 8px;
}

.avatar {
    width: 128px;
    height: 128px;
    border-radius: 65px;
    background-size: cover;
    margin: 12px auto;
    transition: all 0.6s ease-out;
}

.meizir {
    background-image: url('https://discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png ');
}

.mudlofar {
    background-image: url('https://cdn.discordapp.com/avatars/699771795905183804/490eec47f02883197857e508d38972a2.png');
}

.linda {
    background-image: url('https://cdn.discordapp.com/avatars/699723808981909624/2f14ee27fbab6279fa7dc389c1fcbf22.png');
}

.margareta{
    background-image: url('https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png');
}

.firza {
    background-image: url('https://discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png ');
}

.avatar:hover {
    border-radius: 8px;
    box-shadow: 0px 0px 14px 0px #926c;
}

.nama {
    min-height: 3rem;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 2rem;
}

.anggota hr {
    width: 80%;
    border: .5px solid #8884;
}


.middle{
  position: relative;
  top: 90%;
  transform: translateY(-50%);
  width: 13%;
  text-align: center;
}

.btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(45deg, #992266, #450088);
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px #00000070;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 1.9rem;
    font-size: .9rem;
     transition: 0.3s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  color: #fff;
  background-image: linear-gradient(45deg, #992266, #450088);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.clear {
	clear: left;
}

/* footer */

footer {
    color: #fff;
    padding: 24px;
    background-image: linear-gradient(-30deg, #000, #444);
    margin-top: 32px;
}

.footerLogo span {
    font-size: 0.8em;
}

/*  tombol kembali keatas*/

.keAtas {
    position: sticky;
    bottom: 8px;
}

.keAtas a {
    float: right;
    width: 20px;
    height: 20px;
    overflow: hidden;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    padding: 8px;
    border-radius: 26px;
    background-image: linear-gradient(30deg, #926, #408);
    color: #fff;
    margin: 8px;
}


.keAtas a:hover {
    color: #70a;
    background-image: linear-gradient(30deg, #fff, #fff);
    box-shadow: 0px 0px 4px 3px #926;
}




/*  ==  RESPONSIVE  ==  */

/*  --  mobile  --  */

@media screen and (max-width:482px) {
    body {
        font-size: .9rem;
    }
    
    .header-btn {
        display: none;
    }

    .top-wrapper h1 {
        font-size: 2rem;
    }

    .footerLogo {
        padding: 18px;
        width: 25%;
        border-right: 1px solid #eee4;
    }
    .anggota {
        width: 86%;
    }
	.middle {
		width: 50%;
		float: left;
	}
}

/*  --  tablet  --  */

@media screen and (min-width:640px) {

    .wrapper {
        width: 80%;
        margin: 0px auto;
    }

    .anggota {
        width: 50%;
    }

/* footer */

    footer {
        overflow: auto;
    }

    .footerLogo {
        float: left;
    }

}

@media screen and (min-width:720px)  {

.anggota {
        width: 33.3%;
    }

}


/*   pc   */

@media screen and (min-width:960px) {
    .extra {
        box-sizing: border-box;
        width: 50%;
        float: left;
    }

    .anggota {
        width: 25%;
    }
    
}

@media screen and (min-width:1153px) {
    
    .anggota {
        width: 20%;
    }

    .keAtas {
        display: none;
    }

}
